@use 'variables' as *;
@use 'mixins' as *;

.p-skills {
    position: relative;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: $default-gap;

    & > .s-menu {
        position: relative;
    }

    .s-skill-list {
        border: $default-border;
    }

    [data-item-info] {
        grid-row: 1 / -1;
        grid-column: 2;

        progress-element {
            @include progress-multi-bar;
        }

        [data-button] {
            color: $color-tag-invalid;
            &[data-button='valid'] {
                color: $color-tag-valid;
            }
        }
    }

    .p-attack-skills {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: $default-gap;
    }

    .p-aura-skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto max(40%) auto 1fr;
        grid-auto-flow: column;
        gap: $default-gap;

        .s-skill-slot-list {
            overflow-y: auto;
            border: $default-border;
            .skill-slot {
                position: relative;
                display: block;
                cursor: default;
                padding: $padding-container;
                border: $default-border;

                &:hover {
                    filter: brightness(120%);
                }
                &:not(:first-child) {
                    margin-top: 0.1em;
                }
                .s-title {
                    display: flex;
                    align-items: center;
                    .rank {
                        opacity: 0.6;
                        margin-left: auto;
                        display: block;
                    }
                }
                .progress-bar {
                    height: 5px;
                }

                &.selected {
                    border: 1px solid $color-border-highlight;
                    pointer-events: all;
                }
            }
        }

        .s-skill-list {
            border: $default-border;
            overflow-y: auto;
            .equipped {
                color: $color-tag-accent;
            }
        }
    }

    .p-passive-skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-auto-flow: column;
        gap: $default-gap;
        .s-toolbar {
            justify-content: space-between;
            .s-insight-counter {
                padding-left: $padding-container;
                align-self: center;
            }
        }

        .s-skill-list {
            li {
                position: relative;
            }
        }

        .s-skill-info {
            grid-row-start: 1;
        }
    }
}
