@use 'variables' as *;
@use 'mixins' as *;
@use 'attackSkills/attackSkills';
@use 'auraSkills/auraSkills';
@use 'passiveSkills/passiveSkills';

.p-skills {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: $default-gap;

    & > :first-child {
        grid-column: span 2;
    }

    level-element {
        grid-column: span 2;
    }

    & > .s-menu {
        position: relative;
        grid-column: span 2;
    }

    .s-skill-list {
        border: $default-border;
    }

    [data-item-info] {
        grid-column: 2;
        grid-row: 1 / -1;

        progress-element {
            @include progress-multi-bar;
        }
    }
}
