@use 'variables' as *;
.p-ascension {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: $default-gap;

    .p-ascend {
        justify-self: center;
        button {
            min-width: 10em;
        }
    }

    .p-ascensions {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: $default-gap;
        .s-ascension-info {
            grid-row: span 2;
        }
    }
}
