@forward 'variables';
@forward 'mixins';
@forward 'globals';
@forward 'tags';
@use 'variables' as *;

div,
ul {
    min-height: 0;
}

i,
var {
    font-style: normal;
    cursor: default;
}

a {
    text-decoration: none;
    color: $color-tag-link;
    font-family: 'Times New Roman', monospace;
    cursor: pointer !important;
    &:hover {
        text-decoration: underline;
    }
}

table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

[disabled] {
    pointer-events: none;
    filter: brightness(50%) !important;
}

button {
    all: unset;
    position: relative;
    background-color: $color-primary-bg;
    color: $color-default-fg;
    border: $default-border;
    padding: calc(0.3em - $default-border-size) 1em;
    cursor: default;
    outline: none;
    text-align: center;
    cursor: default;

    &:hover {
        filter: brightness(120%);
    }

    &[data-role='confirm'] {
        color: $color-tag-valid;
    }
    &[data-role='cancel'] {
        color: $color-tag-invalid;
    }
}

*.hidden {
    display: none !important;
}

*.selected {
    pointer-events: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
    font-size: 1em;
    font-family: inherit;
    background-color: $color-primary-inset-bg;
    border-bottom: $default-border !important;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 0.2em;
    color: inherit;

    &[type='submit'] {
        border: 0;
    }
    &[type='checkbox'] {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        background-color: $color-primary-inset-bg;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.1em solid $color-border-highlight;
        display: grid;

        &::before {
            content: '';
            position: absolute;
            display: none;
            inset: 20%;
            background-color: $color-default-fg;
        }
        &:checked::before {
            display: block;
        }
    }
}

::-webkit-scrollbar {
    width: 0.6em;
}
::-webkit-scrollbar-thumb {
    background-color: #3a414ba9;
}
::-webkit-scrollbar-thumb:hover {
    filter: brightness(120%);
}
