@use 'variables' as *;
.p-combat {
    overflow-y: auto;
    .s-effects {
        min-height: 10em;
        .s-effect {
            display: grid;
            grid-template-rows: auto 1fr;
            padding: $padding-container;
            .progress-bar {
                height: 5px;
            }
        }
    }
    .s-area-mod-list {
        min-height: 10em;
        text-align: center;
    }
}
