@use 'mixins' as *;
@use 'variables' as *;

.g-scroll-list-v {
    @include scroll-list-v;
}

.g-list-item {
    padding: 0.3em;
    user-select: none;
    list-style-type: none;
    background-color: $color-primary-bg;

    &.selected {
        filter: brightness(70%) !important;
    }

    &:hover {
        filter: brightness(120%);
    }
}

.g-field {
    display: flex;
    padding: 0 $padding-container;
    padding-top: 1px;

    & > :nth-child(1) {
        flex: 1;
        word-wrap: break-word;
    }
    & > :last-child {
        padding-left: 1em;
    }
}

@mixin mod-desc {
    color: $color-tag-modifier;
    cursor: default;

    &[data-info]:hover {
        filter: brightness(120%);
    }
}

.g-mod-list {
    text-align: center;
    padding: $padding-container;
    overflow-y: auto;
    @include scroll-list-v;
    li {
        @include mod-desc;
        border: 0;
    }
}

.g-mod-desc {
    @include mod-desc;
}

.g-text-small {
    font-size: 0.8em;
}

.g-text-mute {
    color: $color-muted-fg;
}

.g-title {
    background-color: $color-primary-bg;
    padding: $padding-container;
    text-align: center;
    color: white;
    border: $default-border;
}

.g-toolbar {
    background-color: $color-primary-bg;
    border: $default-border;
    padding: $padding-container;
    display: flex;
    gap: $default-gap;
}

[data-highlight] {
    color: $color-title-accent;
}

.g-help-icon {
    position: absolute;
    top: calc($padding-container);
    right: calc($padding-container);
    cursor: default;
    outline: $default-border;
    width: 1.3em;
    text-align: center;
    font-weight: 600;
    &:hover {
        filter: brightness(130%);
    }
}

.g-clickable-text {
    cursor: default;
    &:hover {
        filter: brightness(120%);
    }
}

.g-item-info {
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: $default-gap;

    .s-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        border: $default-border;
        padding: $padding-container;
        button {
            margin-top: $padding-container;
            align-self: center;
        }
    }
}
