@use 'variables' as *;

.p-notifications {
    display: grid;
    grid-template-rows: auto 1fr;

    .s-toolbar {
        background-color: $color-primary-bg;
    }

    .s-notifications-list {
        padding-top: $padding-container;
        li {
            white-space-collapse: break-spaces;
            border: $default-border;
            padding: $padding-container;
            margin: 1px;
            .title {
                display: flex;
                justify-content: space-between;
            }
            .time {
                align-self: center;
            }

            &.outline {
                outline: 1px solid rgba($color-title-accent, 1);
                animation: seen 8s forwards;
            }
        }
    }
}

@keyframes seen {
    from {
        outline-color: rgba($color-title-accent, 1);
    }
    to {
        outline-color: rgba($color-title-accent, 0);
    }
}
