@use "variables" as *;

[data-tag="life"] {
    color: $color-tag-life;
}
[data-tag="mana"] {
    color: $color-tag-mana;
}

[data-tag="modifier"] {
    color: $color-tag-modifier;
}
[data-tag="attack"] {
    color: $color-tag-attack;
}
[data-tag="physical"] {
    color: $color-tag-physical;
}
[data-tag="elemental"] {
    color: $color-tag-elemental;
}
[data-tag="chaos"] {
    color: $color-tag-chaos;
}
[data-tag="critical"] {
    color: $color-tag-critical;
}
[data-tag="mana"] {
    color: $color-tag-mana;
}
[data-tag="speed"] {
    color: $color-tag-speed;
}
[data-tag="bleed"] {
    color: $color-tag-bleed;
}
[data-tag="burn"] {
    color: $color-tag-burn;
}

[data-tag="valid"] {
    color: $color-tag-valid;
}
[data-tag="invalid"] {
    color: $color-tag-invalid;
}
[data-tag="link"] {
    color: $color-tag-link;
}

[data-tag="mute"] {
    color: $color-muted-fg;
}
