@forward 'common';
@use 'customElements';
@use 'variables' as *;
@use 'combat';
@use 'statistics';
@use 'notifications';
@use 'components/guilds/guilds';
@use 'components/skills/skills';
@use 'components/weapon/weapon';
@use 'components/artifacts/artifacts';
@use 'components/ascension/ascension';
@use 'components/achievements/achievements';

.p-game {
    display: grid;
    grid-template-columns: minmax(10em, min-content) 1fr minmax(15em, min-content);
    grid-template-rows: auto 1fr;
    gap: $default-gap;
    min-height: 0;
    padding-bottom: $default-gap;

    .s-combat-overview {
        border: $default-border;
        padding: $padding-container;
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        column-gap: 0.5em;
        height: 2em;
        .enemy-name {
            cursor: default;
            &:hover {
                filter: brightness(120%);
            }
        }

        .s-life-bar {
            .value {
                background-color: $color-tag-life-fg;
            }
        }
        .s-mana-bar {
            .value {
                background-color: $color-tag-mana-fg;
            }
        }
    }

    & > .title {
        display: flex;
        color: $color-title-accent;
        background-color: $color-primary-bg;
        justify-content: center;
        align-items: center;
        border: $default-border;
        text-align: center;
        cursor: pointer;
    }

    .sticky-stat-group-list {
        border: $default-border;
        white-space: nowrap;
        padding: 0.1em;
    }
}
