@use 'variables' as *;
.p-playerClasses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: $default-gap;

    .token-counter {
        padding: $padding-container;
        background-color: $color-primary-bg;
    }

    .s-playerClass-info {
        display: grid;
        align-content: baseline;
        grid-column: 2;
        grid-row: 1/4;

        button {
            color: $color-tag-valid;
        }
    }
}
