@use 'variables' as *;
.p-achievements {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: $default-gap;
    ul {
        overflow-y: auto;

        .s-achievement {
            background-color: $color-primary-bg;
            padding: $padding-container;
            border-bottom: $default-border;
            var {
                color: $color-tag-invalid;
                &[data-valid] {
                    color: $color-tag-valid;
                }
            }
        }
    }
}
