@use 'variables' as *;
@use 'mixins' as *;

.p-artifacts {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: $default-gap;

    & > :first-child {
        grid-column: span 2;
    }
    .artifact-list {
        border: $default-border;
    }

    [data-item-info] {
        justify-content: center;
        grid-column: 2;
        grid-row: 2/-1;

        .s-content {
            border: $default-border;
        }

        progress-element {
            @include progress-multi-bar;
        }

        [data-button] {
            color: $color-tag-invalid;
            &[data-button='valid'] {
                color: $color-tag-valid;
            }
        }
    }
}
