@use 'variables' as *;
@use 'mixins' as *;

.p-guildHall {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-auto-flow: column;
    gap: $default-gap;

    & > :first-child {
        grid-column: span 2;
    }

    level-element {
        grid-column: span 2;
    }

    .guild-class-list {
        border: $default-border;

        .s-guild-title {
            &:hover {
                cursor: default;
                font-weight: bold;
            }
        }
    }

    .guild-class-info {
        grid-column: 2;
        grid-row: 3/-1;
    }
}
