@use 'variables' as *;
.p-weapon {
    position: relative;
    display: grid;
    grid-template-rows: auto 0.6fr 1fr;
    gap: $default-gap;
    z-index: 1;
    .s-weapon {
        position: relative;
        display: flex;
        flex-direction: column;

        .s-weapon-type {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            border-bottom: $default-border;
            span:first-child {
                grid-column: 2;
            }
            .change {
                grid-column: 3;
                padding-left: 0.5em;
                cursor: default;

                &:hover {
                    filter: brightness(120%);
                }
            }
        }

        .s-mod-list {
            flex: 1;

            &[data-craft-area] {
                z-index: 2;

                outline: 1px solid $color-title-accent;
                user-select: none;

                &[data-craft] {
                    &:hover {
                        box-shadow: 0 0 5px 1px $color-title-accent inset;
                        user-select: none;
                    }
                    * {
                        pointer-events: none;
                    }
                }
            }
        }
        &[data-success-rate]:has([data-craft]:hover)::after {
            position: absolute;
            content: 'Success Rate: ' attr(data-success-rate) '%';
            color: $color-title-accent;
            top: 0;
            transform: translateY(-100%);
            z-index: 3;
        }
        [data-craft='false'] {
            pointer-events: none;
            opacity: 0.5;
        }

        .backdrop {
            position: fixed;
            inset: 0;
            z-index: 1;
            backdrop-filter: blur(1px) !important;
            background-color: rgba(0, 0, 0, 0.589);
        }
    }

    .craft-table {
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: $default-gap;

        .s-toolbar {
            background-color: $color-primary-bg;
            padding: 0;
            .advanced {
                margin-left: auto;
            }
        }

        .s-craft-list {
            & > :first-child {
                border: $default-border;
                background-color: $color-primary-bg;
                margin-bottom: 0.2em;
                text-align: center;
            }
            li {
                display: grid;
                grid-template-columns: 1fr auto auto;
                padding: $padding-container;

                :nth-child(2),
                :nth-child(3) {
                    box-sizing: border-box;
                    text-align: center;
                }

                :nth-child(2) {
                    border-left: $default-border;
                    border-right: $default-border;
                }
                :nth-child(2),
                :nth-child(3) {
                    padding: 0 1em;
                }
                &.selected {
                    z-index: 2;
                }
            }
        }

        .adv-reforge-modal {
            .s-adv-reforge {
                min-width: 30em;
                overflow-x: hidden;

                .max-reforge-count-input {
                    max-width: 3em;
                    &::-webkit-inner-spin-button {
                        appearance: none;
                    }
                }
                .max-reforge-count-label {
                    display: inline-block;
                    padding-right: 1em;
                }
                .s-conditions {
                    padding-top: 0.5em;
                    .s-row {
                        display: grid;
                        grid-template-columns: 1fr auto;

                        text-input-dropdown-element:last-child {
                            max-width: 4em;
                        }
                    }
                }
            }
        }

        .s-compare {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            column-gap: 5em;
            row-gap: 0.5em;
            .dps-compare {
                margin: 0 auto;
                grid-column: 1/3;
            }
        }
    }
}
